<section class="portfolio-section">
    <div class="row">
        <h2 class="medium-12 columns text-center">Portfolio</h2>
    </div>
    <div class="row">
        <div class="small-12 medium-4 large-3 columns" ng-repeat="project in $ctrl.projects">
            <div class="card">
                <div class="card-divider">
                    <h4 class="text-center">{{ project.title }}</h4>
                </div>
                <img ng-src="{{ project.imageUrl }}" alt="{{project.name}} screenshot">
                <div class="card-section">
                    <a href="{{ project.github }}"><i class="fi-social-github"></i></a>
                    <hr>
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>