/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1,
h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 56px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin: 24px 0;
  font-weight: 100;
}

.hero {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #eee;
  background: linear-gradient(270deg, #5691c8, #457fca);

  font-family: Arial;
}

.blurb {
  padding: 1.5rem;
  text-align: center;
  color: #fff;
}

.blurb strong {
  font-weight: 500;
}

.blurb h1.subheader {
  font-size: 3rem;
  color: #ccc;
}

.hr-with-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}

.hr-with-text hr {
  width: 3rem;
  margin: 0 1rem;
  border-top: 3px solid #eee;
}
