.container {
  display: flex;
  flex-direction: row;

  max-width: 1000px;

  margin: auto;
  padding: 3rem 0;

  text-align: left;
}

.containerReverse {
  display: flex;
  flex-direction: row-reverse;

  max-width: 1000px;
  margin: auto;
  padding: 3rem 0;

  text-align: left;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
}

.summary {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #555;
}

.description {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #555;
}

.buttonContainer {
  margin: 3rem 0;
}

.button {
  padding: 0.5rem 2rem;
  border: 2px solid #03a9f4;
  border-radius: 4px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #333;
}

.button:hover {
  border: 2px solid #333;
  background: #333;
  color: #03a9f4;
}

.imageContainer {
  max-width: 50%;
  padding: 0 0 0 5rem;
}

.containerReverse .imageContainer {
  padding: 0 5rem 0 0;
}

.image {
  height: 300px;
}
