.section {
  padding: 100px 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  padding: 0;
  font-size: 2.4rem;
  line-height: 45px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
}

.statement {
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: #555;
}
