.skill-card {
  font-size: 14px;
  box-sizing: border-box;
  height: 300px;
  min-width: 350px;
  max-width: 350px;
  padding: 0 1rem;
}

.icon {
  height: 60px;
  width: 60px;
  margin: auto;
  margin-top: 2rem;
  font-size: 4.4rem;
  text-align: center;
  color: #457fca;
}

.title {
  height: 40px;
  margin-top: 18px;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #222;
}

.content {
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.8rem;
  color: #666;
}
