.blurb {
  max-width: 800px;
  margin: 3rem auto;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.5rem;
  text-align: center;
  color: #2a3a3f;
}

.button {
  display: block;
  width: fit-content;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 2rem;
  border: 2px solid #2a3a3f;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: lighter;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #2a3a3f;
}

.button:hover {
  background-color: #2a3a3f;
  color: #7caad5;
}
