.intro-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
}


.intro-text {
    padding: 2rem;
    font-size: 1.3rem;
}

.profile-picture {
    max-height: 17rem;
    border-radius: 50%;
    border: 2px solid #666;
}
