body {
    font-size: medium;
    background: #fef7f0;
    color: #373C44;
}

.site-banner {
    padding: 1rem 0 1rem 0;
    background: linear-gradient( to right, #0FAFD3, #0FAFD3 60%, #2D98BE);
    box-shadow: 1px 1px 6px #373C44;
}

.title h1{
    padding: 0;
    margin: 0;
    color: #ddd;   
}

.title h2 {
    margin: 0 .2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #373C44;
}

.intro-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.profile-picture {
    max-height: 17rem;
    border-radius: 50%;
    border: 2px solid #666;
}

.intro-text {
    padding: 2rem;
    font-size: 1.3rem;
}