html, body {
  overflow-y: auto; }

body {
  font-size: medium;
  background: #f4f9f4;
  color: #373c44; }

.intro-section {
  padding-top: 6rem;
  padding-bottom: 3rem; }

.intro-text {
  padding: 2rem;
  font-size: 1.3rem; }

.profile-picture {
  max-height: 17rem;
  border-radius: 50%;
  border: 2px solid #666; }

.portfolio-section {
  padding: 3rem 0; }
  .portfolio-section .row {
    padding: 2rem 0; }
  .portfolio-section .card {
    border-radius: 2px;
    max-width: 18rem;
    margin: auto;
    margin-bottom: 3rem; }
    .portfolio-section .card .card-divider {
      background: #373c44;
      color: #0FAFD3; }
    .portfolio-section .card .card-section i {
      font-size: 2rem;
      color: #0FAFD3; }
    .portfolio-section .card .card-section hr {
      padding: 0;
      margin-top: 0;
      border-bottom: 1px solid #2D98BE; }

.site-banner {
  padding: 1rem 0 1rem 0;
  background: linear-gradient(to right, #0FAFD3, #0FAFD3 60%, #2D98BE);
  box-shadow: 1px 1px 6px #373c44; }

.title h1 {
  padding: 0;
  margin: 0;
  color: #fefefe; }

.title h3 small {
  margin: 0 .2rem;
  font-weight: 700;
  color: #373c44; }

.contact-container {
  padding: 3rem; }
  .contact-container .row {
    margin-bottom: 3rem; }
  .contact-container a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #0FAFD3; }
    .contact-container a i {
      margin-right: 0.5rem;
      font-size: 2.3rem; }
