<section class="contact-container">
    <div class="row">
        <h2>Contact Me</h2>
    </div>
    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-0 columns">
            <form>
                <label for="name">Your Name</label>
                <input type="text" name="name">

                <label for="email">Email Address</label>
                <input type="email" name="email">

                <label for="phone">Phone Number</label>
                <input type="text" name="phone">

                <label for="company">Your Company</label>
                <input type="text" name="company">

                <label for="message">Your Message</label>
                <textarea rows="10" cols=""></textarea>
                
                <input class="button expanded" type="submit" value="Send Message">
            </form>
        </div>

        <div class="small-12 medium-12 large-4 large-offset-1 columns contact-info">
            <div class="social-icons">
                <a href=""><i class="fi-social-linkedin"></i> /imcgonigle</a>
                <br>
                <a href=""><i class="fi-social-github"></i> /imcgonigle</a>
                <br>
                <a href=""><i class="fi-mail"></i> hello@ianmcgonigle.me</a>
                <br>
            </div>
        </div>
    </div>
</section>